/* Payroll.css */

.payrollTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .payroll-input {
    margin-top: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  /*
  input[type="text"] {
    padding: 5px;
    margin-left: 5px;
  }
  
  p {
    margin-top: 20px;
  }*/