.view-record-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: "Inter", sans-serif;
  table-layout: auto;
}

.view-record-table th {
  background-color: #176906;
  color: #fff;
  padding: 8px;
  text-align: left;
  text-transform: uppercase;
  border: none;
  white-space: nowrap;
}

.view-record-table td {
  padding: 8px;
  text-align: left;
  text-transform: uppercase;
  border: none;
}

.view-record-table tbody tr:nth-child(even) {
  background-color: #609655;
}

.view-record-table tbody tr:nth-child(odd) {
  background-color: #b6d69c;
}

.view-record-table tbody tr.empty-row:nth-child(even) {
  background-color: #4B4B4B;
}

.view-record-table tbody tr.empty-row:nth-child(odd) {
  background-color: #D9D9D9;
}

.view-record-heading {
  margin-top: 0;
  margin-bottom: 20px;
}


.view-record-radio-label {
  margin-right: 20px;
}

.view-record-footer {
  text-align: center;
  margin-top: 20px;
}

/* .view-record-input {
  width: 60%;
  height: 100%;
  max-height: 50px;
  padding: 10px;
  text-align: center;
  font-family: 'Inter';
  font-weight: 600;
  border-radius: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  color: black;
  border: 1px solid transparent;
} */
/* .view-record-input1 {
  width: 50%;
  padding: 10px;
  margin-top: 20px; 
  margin-bottom: 5px; 
  text-align: center;
  font-family: 'Inter';
  font-size: 10px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  color: black;
  border: 1px solid transparent;
} */

/* .view-record-input2 { 
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Inter';
  font-size: 10px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  color: black;
  border: 1px solid transparent;
} */

/*
.view-record-input:focus {
  outline: none;
  border: 1px solid transparent;
}

.view-record-input::placeholder {
  color: black;
  font-weight: 600;
}*/

/* 
} */

/*
.view-record-search {
  margin-top: -50px;
  margin-right: 250px;
  text-align: center;
  font-family: 'Inter';
  font-weight:600;
  color: black;
  border: 1px solid transparent;
  width: 100%;
  display: flex;
  justify-content: center;
}*/

.popup-content {
  display: flex;
  justify-content: space-between;
}
/*
.view-record-container {
  position: relative;
  margin: auto;
  padding: 75px;;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}*/

.options-container {
  position: absolute;
  width: 200px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.popup-content {
  padding: 100px;
}

.popup-content h2 {
  margin: 0 0 10px;
}

.popup-content button {
  display: block;
  width: 100%;
  padding: 8px 0;
  margin-bottom: 5px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #e0e0e0;
}


.column-selector-container {
  margin-top: 20px;
}

.column-selector-group {
  margin-bottom: 10px;
}

.column-selector-label {
  display: block;
  margin-bottom: 5px;
}

.column-selector-checkbox {
  margin-right: 5px;
  
}

.checkbox-wrapper-3 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-3 .toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-3 .toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.checkbox-wrapper-3 .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}

.checkbox-wrapper-3 .toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(79, 46, 220, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

.checkbox-wrapper-3 #cbx-3:checked + .toggle:before {
  background: #947ADA;
}

.checkbox-wrapper-3 #cbx-3:checked + .toggle span {
  background: #4F2EDC;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

.checkbox-wrapper-3 #cbx-3:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

@media screen and (min-width: 321px) and (max-width: 475px) {
  .view-record-input {
    width: 70%;
    margin-left: 35px;
    font-size: 1.563vw;
  }
}

@media screen and (max-width: 320px) {
  .view-record-input {
    width: 50%;
    margin-top: 5px;
    height: 2px;
    font-size: 1.563vw;
  }
}


.view-record-container{
  position: relative;
  margin: auto;
  padding: 0 75px;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}
.view-record-search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.view-record-input{
  width: 100%;
  max-width: 500px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 4px;
  text-align: center;
  font-family: 'Inter';
  font-weight: 600;
  border-radius: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  color: black;
  border: 1px solid transparent;;
}
.view-record-input1{
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  font-family: 'Inter';
  font-size: 10px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  color: black;
  border: 1px solid transparent;
}
.view-record-input2{
  width: 60%;
  margin-right: 45px; 
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  font-family: 'Inter';
  font-size: 10px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  color: black;
  border: 1px solid transparent;
}
.view-record-sort{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 50px;
  margin-top: 20px;
}
.view-record-button{
  width: 100%;
  max-width: 70px;
}
.view-record-button {
  width: 70%;
  max-width: 80px;
  background-color: white;
  border-style: none;
  font-family: 'Inter';
  padding: 3px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  font-weight: 600;
  color: black;