footer {
    background-color: #176906;
    text-align: center;
    font-family: 'Lexend';
    font-size: 11px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width:769px) {
    footer {
        font-size: 0.781vw;
    }
}