footer {
    background-color: #176906;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-size: 11px;
    color: white;
    width: 100%;
    position: relative;
    height: 30px; 
}


@media screen and (max-width: 769px) {
    footer {
        font-size: 0.781vw;
    }
}
