body, html {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content:left;
    flex-direction: column; 
    position: relative;
    width: 100%;
    background-color: #176906;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 11px;
    color: #FFF39C;
    margin-left: 50px;
    cursor: pointer;
}
li:hover {
    text-decoration: underline;
    color: white;
}
.logout {
    color: #E6CB02;
}
nav a {
    text-decoration: none;
    color: inherit;    
}
.logo-header {
    width: 100%;
    max-width: 90px;
}
.sgh-text {
    width: 100%;
    max-width: 650px; 
    margin-top: 20px;
}
.img-header {
    display: flex;
    align-items: start;
    width: 100%;
    background-color: #176906;
}

/*
@media screen and (max-width:769px) {
    .logo-header {
        max-width: 70px;
    }
    .sgh-text {
        max-width: 300px;
        margin-top: 20px;
    }
    nav ul {
        font-size: 1.198vw;
        margin-top: -6px;
        margin-left: 14px;
    }
}*/
@media screen and (max-width:425px) {
    .logo-header {
        width: 100%;
        max-width: 60px;
    }
    .sgh-text {
        width: 100%; 
        max-width: 230px;
        margin-top: 18px;
    }
    nav ul {
        font-size: 4px;
        gap: 7px;
        margin-top: -13px;
        margin-left: 23px;
    }
}
@media screen and (min-width:375px) and (max-width:425px) {
    .logo-header {
        width: 100%;
        max-width: 60px;
    }
    .sgh-text {
        width: 100%; 
        max-width: 260px;
        margin-top: 18px;
    }
    nav ul {
        font-size: 5px;
        gap: 10px;
        margin-top: -10px;
        margin-left: 23px;
    }
}
@media screen and (min-width:426px) and (max-width:768px) {
    .logo-header {
        width: 100%;
        max-width: 80px;
    }
    .sgh-text {
        width: 100%; 
        max-width: 350px;
        margin-top: 26px;
    }
    nav ul {
        font-size: 7px;
        gap: 10px;
        margin-top: -10px;
        margin-left: 45px;
    }
}
@media screen and (min-width:769px) {
    .logo-header {
        width: 100%;
        max-width: 100px;
    }
    nav ul {
        font-size: 11px;
        gap: 13px;
        margin-top: -10px;
        margin-left: 70px;
    }
}